:host {
  display: block;
  padding: 8px;
}

.story-list {
  background-color: #f6f6ef;
  border-collapse: collapse;
}

.more-link-container {
  padding: 8px 0 8px 35px;
}

.more-link-container button {
  font-size: 8pt;
  color: #000;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }

  &:disabled {
    cursor: not-allowed;
    color: #828282;
  }
}
