@if (story(); as story) {
<td class="rank">{{ rank() }}.</td>
<td class="vote">
  <div class="arrow-up"></div>
</td>
<td class="details">
  <div class="title-line">
    <a
      [href]="story.url || '/item/' + story.id"
      class="title"
      [target]="story.url ? '_blank' : '_self'"
      >{{ story.title }}
    </a>
    @if (story.url) {
    <a href="https://news.ycombinator.com/from?site={{ story.url | domain }}" class="domain"
      >({{ story.url | domain }})</a
    >
    }
  </div>
  <div class="meta-line">
    <span>{{ story.score }} points by </span>
    <a href="https://news.ycombinator.com/user?id={{ story.author }}">{{ story.author }}</a>
    <a href="https://news.ycombinator.com/item?id={{ story.id }}" class="time-ago">{{
      story.time | timeAgo
    }}</a>
    |
    <a href="https://news.ycombinator.com/item?id={{ story.id }}"
      >{{ story.commentCount }}&nbsp;comments</a
    >
  </div>
</td>
}
