<header>
  <div class="container">
    <div class="nav-left">
      <svg
        class="logo"
        height="18"
        viewBox="4 4 188 188"
        width="18"
        xmlns="http://www.w3.org/2000/svg"
        routerLink="/"
      >
        <path d="m4 4h188v188h-188z" fill="#f60" />
        <path
          d="m73.2521756 45.01 22.7478244 47.39130083 22.7478244-47.39130083h19.56569631l-34.32352071 64.48661468v41.49338532h-15.98v-41.49338532l-34.32352071-64.48661468z"
          fill="#fff"
        />
      </svg>
      <a class="site-title" routerLink="/">Hacker News Clone</a>
      <nav>
        <a routerLink="/top" routerLinkActive="active">top</a> |
        <a routerLink="/ask" routerLinkActive="active">ask</a> |
        <a routerLink="/show" routerLinkActive="active">show</a> |
        <a routerLink="/jobs" routerLinkActive="active">jobs</a>
        @if (router.url === '/best') { | <a routerLink="/best" routerLinkActive="active">best</a> }
      </nav>
    </div>
  </div>
</header>
