:host {
  display: block;
  padding: 8px;
}

.search-bar {
  margin-bottom: 8px;

  input {
    border: 1px solid #828282;
    padding: 4px 8px;
    font-size: 8pt;
    width: 500px;
    outline: none;

    &:focus {
      border-color: #ff6600;
    }
  }
}

@media (width < 768px) {
  .search-bar input {
    width: 95%;
  }
}
